* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

div#root {
    height: 100dvh;

    display: flex;
    flex-direction: column;
}

li {
    list-style-position: inside;
}